.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.card {
  margin: 0px 3.5% !important ;
  font-size: 40px !important;
  
}

.infected {
  border-bottom: 10px solid blue;
}

.recovered {
  border-bottom: 10px solid greenyellow;
}

.deaths {
  border-bottom: 10px solid red;
}
